<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="MinIdDw" value="0"/>
    <add key="ConnectionString" value="DRIVER=Pervasive ODBC Client Interface;SERVER=localhost;ServerDSN=HMstarol;uid=Master;pwd="/>
    <add key="DaysBack" value="3"/>
  </appSettings>

</configuration>
