<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="MinIdDw" value="0"/>
    <add key="ConnectionString" value="DRIVER=Pervasive ODBC Client Interface;SERVER=localhost;ServerDSN=HMBLAD;uid=Master;pwd="/>
    <add key="DaysBack" value="3"/>
    <add key="Timeout" value="60"/>
    <add key="OkreslenieBazy" value="demo 2017.d"/>
    
    <add key="Debug" value="false" />
    <add key="ForceEmail" value="false" />
    
    <add key="SmtpHost" value="bonsoft.pl"/>
    <add key="SmtpPort" value="2525"/>
    <add key="SmtpSsl" value="false"/>
    <add key="SmtpSslIgnoreErrors" value="false" />
    <add key="SmtpUser" value="xxxxx"/>
    <add key="SmtpPass" value="yyyyy"/>
    <add key="MailFrom" value="VerifySymfHm &lt;bonsoft@bonsoft.pl&gt;" />
    <add key="MailTo" value="bonsoft@bonsoft.pl" />
    <add key="MailCC_1" value="handel@bonsoft.pl" />
    <add key="MailCC_2" value="jaroslaw.czekalski@bonsoft.pl" />
  </appSettings>

</configuration>
